.sensors {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 1.5rem;
  flex-wrap: nowrap;
  justify-content: space-between;
  bottom: 0;
}

dl {
  margin: 0.5rem 2rem;
  padding: 0;
}

dt {
  font-weight: normal;
  margin: 0.25rem 0;
  padding: 0;
}

dd {
  font-weight: bold;
  margin: 0.25rem 0;
  padding: 0;
}

dt, dd {
  text-shadow: black 0 2px 10px;
}
